::-webkit-scrollbar {
	color: #aba499;
	background-color: #202324;
}

::-webkit-scrollbar-thumb {
	background-color: #454a4d;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #575e62;
}

::-webkit-scrollbar-thumb:active {
	background-color: #484e51;
}

::-webkit-scrollbar-corner {
	background-color: #181a1b;
}

*, a {
	color: #fff;
	scrollbar-color: #454a4d #202324;
}

body {
	font: 20px/23px Homenaje, Impact, sans-serif;
	display: flex;
	flex-direction: column;
	min-width: 360px;
	height: 100vh;
	cursor: pointer;
	text-align: center;
	background: #000 url(images/cathedral.jpg) no-repeat;
	background-size: cover;
	background-position: center bottom -90px;
	-webkit-tap-highlight-color: transparent;
}

body > * {
	-webkit-tap-highlight-color: initial;
}

@media (any-pointer: fine) {
	body {
		cursor: default;
	}
}

body > * {
	flex-shrink: 0;
}

::selection {
	background: #fbb406;
}

h1, h2, h3 {
	font-weight: normal;
	margin: 0;
}

#header {
	font-size: 32px;
	line-height: 1;
	padding: 10px 0;
	text-transform: uppercase;
	border-bottom-style: solid;
	border-bottom-width: 2px;
}

#header, #summaryContainer, select, input, option, button {
	background-color: #000;
	border-color: #fff;
	z-index: 1;
}

#header, #summaryContainer {
	background-color: rgba(0, 0, 0, 0.8);
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#header > * {
	margin: 0 auto;
	text-shadow: 2px 2px 8px rgb(1 1 1 / 100%);
}

#header a {
	text-decoration: none;
}

#header h1 {
	font-size: 140%;
}

#header h2 {
	font-size: 80%;
}

@media (max-width: 452px) and (min-width: 360px)  {
	#header {
		font-size: 7.1vw;
	}
}

@media (max-width: 360px)  {
	#header {
		font-size: 25.56px;
	}
}

#skillTree {
	display: flex;
	min-height: 420px;
	user-select: none;
	flex-grow: 9999;
	justify-content: center;
}

.visible, .visible * {
	visibility: visible!important;
}

.hidden, .hidden * {
	visibility: hidden!important;
	pointer-events: none;
}

.disabled, .disabled * {
	display: none!important;
	pointer-events: none;
}

#extraButtons1, #extraButtons2 {
	display: flex;
	margin: 0 auto 10px;
	user-select: none;
	justify-content: center;
}

#extraButtons1 > *, #extraButtons2 > * {
	margin: 0 2.5px;
}

@media (max-width: 384px) and (min-width: 360px) {
	button {
		font-size: 5vw!important;
	}
}

@media (max-width: 360px) {
	button {
		font-size: 18px!important;
	}
}

select, option, button {
	height: 26px;
	padding: 0 6px;
	cursor: pointer;
	border-width: 1px;
	border-style: solid;
}

select {
	padding: 0 18px 0 4px;
	background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMDAwIDEwMDAiPjxwYXRoIGZpbGw9IiNGRkZGRkYiIGQ9Ik04NzUuNywxNzkuOEw1MDAsNTc3LjlMMTI0LjMsMTc5LjhMMTAsMzAxbDQ5MCw1MTkuMkw5OTAsMzAxTDg3NS43LDE3OS44eiIvPjwvc3ZnPg==");
	background-repeat: no-repeat;
	background-position: right 4px center;
	background-size: 8px;
	-webkit-appearance: none;
	appearance: none;
}

#searchInput {
	height: 22px;
	width: 92px;
	border-width: 1px;
	border-style: solid;
}

:disabled {
	cursor: not-allowed;
}

button:active {
	background-color: #333;
}

#summaryContainer {
	margin-top: auto;
	padding: 10px 10px 0;
	border-top-style: solid;
	border-top-width: 2px;
	flex-grow: 1;
}

#summaryContainer * {
	line-height: 1.1;
	max-width: 840px;
	margin: auto;
}

#tooltipSummaryHeader {
	font-variant: small-caps;
	border-bottom: 1px solid #fff;
	text-align: left;
	margin-bottom: 5px;
	padding-bottom: 5px;
}

#summarySpacer {
	clear: both;
	height: 20px;
}

#footer {
	font-size: 12px;
	margin-bottom: 5px;
	padding-top: 15px;
	text-transform: uppercase;
}

@media (max-width: 440px) {
	#footer {
		font-size: 2.7vw;
	}
}

#footer a:hover {
	color: #f0f;
}

.stamp {
	font-size: 50%;
	position: absolute;
	display: inline-block;
	overflow: visible;
	width: 0;
	height: 0;
	margin: 0.5em 0 0 0.3em;
	transform: rotate(12deg);
}

@media (max-width: 700px) {
	.stamp {
		display: none;
	}
}