body {
	font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace!important;
}

#root {
	display: flex;
	flex-direction: column;
	height: calc(100vh - 20px);
	padding: 10px;
	text-align: center;
}

#debugOutput {
	box-sizing: border-box;
	height: 100%;
}